<% provide(:title, 'Sobre el sistema') %>
    <h1>Sobre el sistema</h1>
      <p>
        Esta página, en caso de incluirse, contendrá detalles útiles de la aplicación y un posible
        manual de uso para consulta.
      </p>
