<span class="row-fluid">
	<li class="nobullets">
		<span class="span2">
		<%= price.restaurant.name %>
		</span>
		<span class="span2">
		<%= price.price %> €
		</span>
		<span class="span2">
		<%= link_to "seleccionar", '#', class: 'btn btn-mini btn-info' %>
		</span>
	</li>
</span>
